
config cgminer 'default'
	option pool1url		''
	option pool1user	''
	option pool1pw		''
	option pool2url		''
	option pool2user	''
	option pool2pw		''
	option pool3url		'stratum+tcp://europe.dgb256.online:8080'
	option pool3user	'DSkLyYgL2rL4yEj9wmQkpx3HRWLJ8xiA21.001'
	option pool3pw		'zxc'
	option voltage_level_offset	'0'
	option fan_min		'10'
	option fan_max		'100'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

