
config cgminer 'default'
	option pool1url		''
	option pool1user	''
	option pool1pw		''
	option pool2url		'stratum+tcp://europe.solomining.io:7777'
	option pool2user	'1NcoBjJzZxKWgdcciVVedLBWUS7TBfLygv.B'
	option pool2pw		'zxc'
	option pool3url		'stratum+tcp://solo.ckpool.org:3333'
	option pool3user	'1NcoBjJzZxKWgdcciVVedLBWUS7TBfLygv.B'
	option pool3pw		'zxc'
	option voltage_level_offset	'0'
	option fan		'3'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

